
/* Custom Styles */
body {
    font-family: 'Arial', sans-serif;
}

header h1 {
    font-size: 1.75rem;
    font-weight: bold;
}

header span {
    font-size: 0.85rem;
    color: #6b7280; /* Tailwind Gray-500 */
}

aside ul li a {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

aside ul li a:hover {
    background-color: #e5e7eb; /* Tailwind Gray-200 */
    color: #1f2937; /* Tailwind Gray-800 */
}

aside ul li a i {
    font-size: 1.25rem;
}

/* Modal Styles */
#settings-modal {
    display: none;
}

#settings-modal .p-6 {
    width: 300px;
}

#notification {
    display: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
}

#notification i {
    margin-right: 10px;
}

/* Estilos para a seção de informações do usuário */
#user-info-section {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#user-info {
    font-size: 1rem;
    line-height: 1.5;
}

#toggle-user-info {
    transition: background-color 0.3s ease;
}

#toggle-user-info:hover {
    background-color: #2b6cb0; /* Cor mais escura de azul */
}

@media (max-width: 768px) {
    #user-info-section {
        padding: 20px;
    }
}
